div{
    background-color: white;
    max-width: 340px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 6px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    color: green;
}

body{
    background-color: green;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    padding: 8px;
    border: 1px solid #0d0404;
    border-radius: 4px;
    margin-bottom: 10px;
}
/*form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}*/

.btn{
    padding: 5px 16px;
    margin: 20px auto;
    border: none;
    display: block;
    border-radius: 9px;
    background: rgb(0, 128, 0);
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: #65c03b;
}

