.login-container{
    max-width: 360px;
    margin: 200px auto;
    padding: 20px;
    border-radius: 6px;
    font-family: Arial, sans-serif;
    text-align: left;
    background-color: white;
    box-shadow:  0 4px 8px rgba(0,0,0,0.15);
}
form input[type="submit"]{
    padding: 8px 16px;
    margin-right: 8px;
    border: none;
    text-align: center;
    border-radius: 4px;
    background: #077b1d;
    color: white;
    cursor: pointer;
}
h1{
    text-align: center;
    color: #077b1d;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}
body{
  background-image: url("ChatGPT Image Aug 19, 2025, 01_43_35 PM.png");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;  
  height: 100vh;  
  margin: 0; 
}

